body {
  margin: 0;
  height: 98vh;
  padding-bottom: 2vh;
}

#elevation {
  width: 100%;
  height: inherit;
}
.top-navbar {
  color: #fff;
  background-color: #191b36;
}
.navbar {
  border-radius: 0px;
}
input {
  position: absolute;
  font-size: 50px;
  opacity: 0;
  right: 0;
  top: 0;
}
.center-text {
  justify-content: center;
  text-align: center;
  align-content: center;
}

.mapboxgl-canvas {
  width: 100% !important;
  height: 100% !important;
}
#map {
  min-height: 500px;
  margin-bottom: 1%;
}
.metrics {
  font-weight: bold;
  text-shadow: 1px 1px 2px #8b8b8b;
}
.legend {
  font-size: 0.8em;
}
.grad {
  visibility: hidden;
}
.left-stats {
  height: 100px;
}
.left_btn {
  margin-bottom: 15px;
  padding: 0;
}
.navbar-dark {
  box-shadow: 0px 2px 5px #888888;
}
.navbar-brand {
  font-size: 2em;
  font-weight: bold;
}

.bg-info {
  background-color: #08629d !important;
  text-shadow: 0px 1px 1px #3a3a3a;
}
.btn-secondary {
  background-color: rgba(8, 98, 157, 0.8);
}
.fly {
  background-color: #61abdb !important;
}
.upload {
  border-color: rgba(8, 98, 157, 1);
  border-width: 2px;
  font-weight: bold;
}
.upload:hover {
  background-color: rgba(8, 98, 157, 1);
  border-color: rgba(8, 98, 157, 1);
  border-width: 2px;
  color: #f1f1f1;
}
.fly:hover {
  border-color: rgba(8, 98, 157, 1);
  color: #f1f1f1;
}
.fly:onclick {
  border-color: rgba(8, 98, 157, 1);
  color: #f1f1f1;
}
#main {
  position: absolute;
  right: 0;
}
.detailed {
  font-weight: bold;
  font-size: 1em;
}

.square {
  height: 15px;
  width: 15px;
  background-color: #555;
  margin-top: 5px;
}
.selected {
  /* border-style: dashed;
	border-width: 3px;
	border-color: 	#DC143C; */

  box-shadow: 0px 2px 10px #000000;
}
